body {
    background-color: #eeeeee;
    justify-content: center;
}

h2 {
    font-size: xx-large;
    font-weight: 900;
    justify-self: center;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
}

.card {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
}

.field {
    margin-bottom: 1rem;
    width: 100%;
}

.field label {
    margin-bottom: 0.25rem;
    font-weight: 500;
    text-align: left;
}

.field input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: auto;
    align-self: center;

    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 4px;

    font-weight: 500;
    font-size: 14px;
    padding: 10px 24px;
    cursor: pointer;

    transition: background-color 0.2s, box-shadow 0.2s;
}

.login-button:hover {
    background-color: #155ab6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: white;
    color: #3c4043;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 16px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.google-btn img {
    width: 20px;
    height: 20px;
    display: block;
}

.google-btn:hover {
    background-color: #f7f8f8;
}